body {
    margin: 0px;
}


.side_bar_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(128, 64, 181, 0.323);
    padding: 20px;
    justify-content: space-around;
}

.modern_square_heading {
    justify-content: left;
    padding-left: 60px;
    margin-right: 0px;
    font-weight: bold;

}

.nav_bar_links {
        margin: ;
}

.nav_bar_logo {
    height: 50px;
    padding-right: 750px;
    padding-left: 0px;
    margin-right: 0px;
}
