body {
    margin: 0px;
}


.side_bar_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(128, 64, 181, 0.323);
    padding: 20px;
    justify-content: space-around;
}

.modern_square_heading {
    justify-content: left;
    padding-left: 60px;
    margin-right: 0px;
    font-weight: bold;

}

a:link, a:visited {
    background-color: #be77cf;
    text-align: center;
    color: white;
    width: 60px;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #3cc0b5;
    border-radius: 10px;
    box-shadow: 4px 4px 1px rgb(31, 26, 26);
  }

.nav_bar_logo {
    height: 50px;
    padding-right: 700px;
    padding-left: 0px;
    margin-right: 0px;
}




